<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>All Games</title>
</head>
<body>
<div class="container">
    <div class="text-center text-uppercase">
        <h2 th:text="${'Reviews af ' + game.getTitle()}"></h2>
    </div>
    <div class="container">
        <table class="table table-hover table-striped " style="border: 1px solid #ddd">
            <tr>
                <td>Spiller</td>
                <td>Reviewtext</td>
                <td>Score/100</td>
            </tr>
            <tr th:each="review : ${game.getReviews()}">
                <td th:text="${review.getPlayer().getName()}"></td>
                <td th:text="${review.getReviewText()}"></td>
                <td th:text="${review.getScore()}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>